[Desktop Entry]
Name=Scratch
Comment= Programming system and content development tool
Exec=sudo scratch
Terminal=false
Type=Application
Icon=/usr/share/scratch/scratch.png
Categories=Development;
MimeType=application/x-scratch-project
